*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}
#carsoule-button{
    height: 10px;
    width: 10px;
    background-color: #4CAF4F;
    border-radius: 50%;
}

.carousel-indicators{
    margin-bottom: -3rem!important;
}

a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #4CAF4F;
}
a:hover{
    color: #317032;
}

.btn1{
    background-color: #4CAF4F;
    color: #FFFFFF;
    border-radius: 4px;
    border: 0;
}
.btn1:hover{
    background-color: #317032;
}
/* navbar */
.navbar-brand{
    color: #263238!important;
    font-size: 24px;
}
.nav-link{
    color: #18191F!important;
    font-size: 16px;
    line-height: 24px;
}

#nav-btn{
    height: 40px;
    width: 91px;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;

}



/* box 1 */
#b1-btn{
    height: 52px;
    width: 128px;
    padding: 14px 32px 14px 32px;
    font-size: 16px;
    border: 0;
}
/* box 2 */
/* box 3 */
/* box 4 */
#b4-btn{
    height: 52px;
    width: 151px;
    font-size: 16px;
    padding: 14px 32px 14px 32px;
}
/* box 5 */
/* box 6 */
#b6-btn{
    height: 52px;
    width: 151px;
    font-size: 16px;
    padding: 14px 32px 14px 32px;
}
/* box 7 */
/* box 8 */
/* box 9 */







.img-overlaping{
    min-height: 374px;
    min-width: 368px;
    position: relative;
}
.img-overlaping-content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 317px;
    height: 176px;
    background-color: #F5F7FA;
    box-shadow: 0px 8px 16px 0px #ABBED166;
    border-radius: 8px;
    margin-left: 1.75rem;
    z-index: 100;
    margin-top: -90px;
    position: absolute;
}
.img-overlapping-description{
    font-size: 20px;
    line-height: 28px;
    color: #717171;
    text-align: center;
}

/* box 10 */
#b10-btn{
    height: 52px;
    width: 178px;
    font-size: 16px;
    padding: 14px 32px 14px 32px;
}


/* footer */
#footer{
    background-color: #263238;
}
 ul{
    list-style: none;
}
.footer-item1  ul li{
    height: 32px;
    width: 32px;
    background-color:#353d41 ;
    border-radius: 50%;
    border: 0.25px solid white;
}
.footer-item2 ul li,.footer-item3 ul li{
    background-color: transparent;
}
.footer-item4 form input{
    background-color:#353d41;
}
.footer-item4 form i{
    top: 39px;
    right: 24px;
}
.footer-item4 form input::placeholder{
    color: #D9DBE1;
}